<div>
    <div class="header bg-primary">
        <div class="profile-img row justify-content-center">
            <img src="../../assets/profile-img.jpg" class="rounded-circle rounded ">
        </div>
        <label class="profie-name row justify-content-center">Pranav Mistry</label>
        <nav class="row justify-content-center">
            <div class="nav nav-pills" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-personal-info-tab" data-toggle="tab" href="#nav-personal-info" role="tab" aria-controls="nav-personal-info" aria-selected="true">Personal info</a>
            <a class="nav-item nav-link" id="nav-general-tab" data-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-general" aria-selected="false">General</a>
            <a class="nav-item nav-link" id="nav-preferences-tab" data-toggle="tab" href="#nav-preferences" role="tab" aria-controls="nav-preferences" aria-selected="false">Preferences</a>
            </div>
        </nav>
    </div>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-personal-info" role="tabpanel" aria-labelledby="nav-personal-info-tab">
            <app-user-profile></app-user-profile>
        </div>
        <div class="tab-pane fade" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
            <div class="row justify-content-center">General</div>
        </div>
        <div class="tab-pane fade" id="nav-preferences" role="tabpanel" aria-labelledby="nav-preferences-tab">
            <div class="row justify-content-center">Preferences</div>
        </div>
    </div>
</div>