<div class="form-group">
    <form>
        <div class="row form-group justify-content-center font-weight-bold">
            <h3 class="col-sm-3">Overview</h3>
            <label class="col-sm-2">Changes Saved</label>
        </div>
        <div class="row form-group justify-content-center">
            <button class="icon-style btn rounded-circle rounded border-primary">
                <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            </button>
            <div class="row col-sm-4">
                <label class="col-sm-1 col-form-label">Title:</label>
                <div class="col-sm-7">
                    <input class="form-control border-0 shadow-none" value="Abc">
                </div>
                <button type="button" class="rounded-circle rounded col-sm-1 btn btn-danger">V</button>
                <button type="button" class="rounded-circle rounded col-sm-1 btn btn-success">X</button>
                <button type="button" class="rounded-circle rounded col-sm-1 btn">E</button>
            </div>
            
        </div>
    </form>
</div>


