.personal-info{
    margin-top:10px;
}

input {
    background-color: transparent !important;
}

input:focus{
    outline:none;
}

.field-icon {
    border-radius: 50% !important;
    border: 1px solid #007bff;
    color: #007bff;
    height: 35px;
    width: 35px;
    align-items: center;
    vertical-align: middle;
    align-content: space-around;
    margin-right: 20px;
    font-size: 32px;
}

.btn-size{
    padding:0px !important;
}

.color-green {
    color: green !important;
}

.color-red{
    color:red !important;
}

.color-primary{
    color:#007bff;
}

.border-dotted:hover{
    border: 1px #6c757d dashed;
    padding:-10px;
}

.border-solid {
    border: 1px #a7abaf solid;
    border-radius: 25px;
}

.label-style{
    margin-right: 30px !important;
}

.error {
    border-color: red !important;
}