<div class="container container-sm form-group">
    <form [formGroup]="userForm">
        <div class="row form-group font-weight-bold">
            <h5 class="col-sm-5 d-flex justify-content-end">Overview</h5>
            <label class="col-sm-2 text-success" *ngIf="isSaved">Changes Saved</label>
        </div>
        <div class="row form-group justify-content-center">
            <mat-icon class="field-icon" aria-label="person">person</mat-icon>
            <div class="row col-sm-5 border-dotted">
                <label class="col-sm-2 col-form-label">Title:</label>
                <div class="col-sm-8">
                    <input class="form-control border-0 shadow-none" formControlName="title" placeholder="Add a title">
                </div>
                <div class="col-sm-2 d-flex justify-content-end">
                    <button type="button" class="btn btn-xs btn-size shadow-none" (click)="saveChanges('title')" *ngIf="!disable.title">
                        <mat-icon class="color-green" aria-label="check_circle">check_circle</mat-icon>
                    </button>
                    <button type="button" class="btn btn-xs btn-size shadow-none" (click)="cancelChanges('title')" *ngIf="!disable.title">
                        <mat-icon class="color-red" aria-label="cancel">cancel</mat-icon>
                    </button>
                    <button type="button" class="btn btn-xs btn-size shadow-none" *ngIf="disable.title" (click)="editInput('title')">
                        <mat-icon color="primary" aria-label="edit">edit</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="row form-group justify-content-center">
            <mat-icon class="field-icon" aria-label="email">email</mat-icon>
            <div class="row col-sm-5 border-dotted">
                <label class="col-sm-2 col-form-label">Email:</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control border-0 shadow-none text-primary" formControlName="email">
                </div>
                <div class="col-sm-2 d-flex justify-content-end">
                    <button type="button" class="btn btn-xs btn-size shadow-none" [cdkCopyToClipboard]="copyContent('email')" *ngIf="disable.email">
                        <mat-icon class="color-primary" aria-label="content_copy">content_copy</mat-icon>
                    </button>
                    <button type="button" class="btn btn-xs btn-size shadow-none" (click)="saveChanges('email')" *ngIf="!disable.email">
                        <mat-icon class="color-green" aria-label="check_circle">check_circle</mat-icon>
                    </button>
                    <button type="button" class="btn btn-xs btn-size shadow-none" (click)="cancelChanges('email')" *ngIf="!disable.email">
                        <mat-icon class="color-red" aria-label="cancel">cancel</mat-icon>
                    </button>
                    <button type="button" class="btn btn-xs btn-size shadow-none" *ngIf="disable.email" (click)="editInput('email')">
                        <mat-icon color="primary" aria-label="edit">edit</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="row form-group justify-content-center">
            <mat-icon class="field-icon" aria-label="call">call</mat-icon>
            <div class="row col-sm-5 border-dotted">
                <label class="col-sm-2 col-form-label">Phone:</label>
                <div class="col-sm-8">
                    <input class="form-control border-0 shadow-none"  placeholder="Add a phone number" formControlName="phone" >
                </div>
                <div class="col-sm-2 d-flex justify-content-end">
                    <button type="button" class="btn btn-xs btn-size shadow-none" (click)="saveChanges('phone')" *ngIf="!disable.phone">
                        <mat-icon class="color-green" aria-label="check_circle">check_circle</mat-icon>
                    </button>
                    <button type="button" class="btn btn-xs btn-size shadow-none" (click)="cancelChanges('phone')" *ngIf="!disable.phone">
                        <mat-icon class="color-red" aria-label="cancel">cancel</mat-icon>
                    </button>
                    <button type="button" class="btn btn-xs btn-size shadow-none" *ngIf="disable.phone" (click)="editInput('phone')">
                        <mat-icon color="primary" aria-label="edit">edit</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="row form-group justify-content-center">
            <mat-icon class="field-icon" aria-label="location_on">location_on</mat-icon>
            <div class="row col-sm-5 border-dotted">
                <label class="col-sm-2 col-form-label">Location:</label>
                <div class="col-sm-8">
                    <input class="form-control border-0 shadow-none" placeholder="Add Location" formControlName="location">
                </div>
                <div class="col-sm-2 d-flex justify-content-end">
                    <button type="button" class="btn btn-xs btn-size shadow-none" (click)="saveChanges('location')" *ngIf="!disable.location">
                        <mat-icon class="color-green" aria-label="check_circle">check_circle</mat-icon>
                    </button>
                    <button type="button" class="btn btn-xs btn-size shadow-none" (click)="cancelChanges('location')" *ngIf="!disable.location">
                        <mat-icon class="color-red" aria-label="cancel">cancel</mat-icon>
                    </button>
                    <button type="button" class="btn btn-xs btn-size shadow-none" *ngIf="disable.location" (click)="editInput('location')">
                        <mat-icon color="primary" aria-label="edit">edit</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="row form-group justify-content-center">
            <mat-icon class="field-icon" aria-label="access_time">access_time</mat-icon>
            <div class="row col-sm-5 border-dotted">
                <label class="col-sm-2 col-form-label">Timezone:</label>
                <div class="col-sm-8">
                    <input class="form-control border-0 shadow-none text-primary" disabled=true formControlName="timezone">
                </div>
                <div class="col-sm-2 ">
                    <button type="button" class="btn btn-xs btn-size shadow-none" [cdkCopyToClipboard]="copyContent('timezone')">
                        <mat-icon class="color-primary" aria-label="content_copy">content_copy</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group justify-content-center">
            <mat-divider ></mat-divider>
        </div>
        <div class="row form-group justify-content-center">
            <h5 class="col-sm-5 d-flex justify-content-start">Change your password</h5>
        </div>
        <div class="row form-group justify-content-center">
            <label class="label-style col-sm-2 col-form-label">Current Password</label>
            <div class="border-solid row form-group col-sm-3">
                <input type="password" class="form-control border-0 shadow-none" formControlName="currentPassword">
            </div>
        </div>
        <div class="row form-group justify-content-center">
            <label class="label-style col-sm-2 col-form-label d-flex justify-content-start ">New Password</label>
            <div class="border-solid row form-group col-sm-3">
                <input type="password" class="col-sm-9 form-control border-0 shadow-none" formControlName="newPassword" (input)="validatePassword()">
                <div class="col-sm-3 d-flex justify-content-end">
                    <label class="col-sm-0.6 col-form-label color-green">{{percentage}}</label>
                    <label class="col-sm-0.6 col-form-label color-red">/100</label>
                </div>
            </div>
        </div>
        <div class="row form-group justify-content-center">
            <label class="label-style col-sm-2 col-form-label">Re-type Password</label>
            <div [class.error]="isPasswordError" class="border-solid row form-group col-sm-3 ">
                <input type="password" class="col-sm-9 form-control border-0 shadow-none" formControlName="confirmPassword" (input)="confirmPassword()">
                <div class="col-sm-3 d-flex justify-content-end">
                    <button type="button" class="btn btn-xs btn-size shadow-none" *ngIf="incorrectPassword" (click)="clearPassword()">
                        <mat-icon class="color-red" aria-label="cancel">cancel</mat-icon>
                    </button>
                    <button type="button" class="btn btn-xs btn-size shadow-none" *ngIf="correctPassword" >
                        <mat-icon class="color-green" aria-label="check_circle">check_circle</mat-icon>
                    </button>
                </div>  
            </div>       
        </div>
        <div class="text-danger row form-group justify-content-center" *ngIf="isPasswordError">*Password Wrong</div>
        <div class="row form-group  justify-content-center">
            <button class="btn-md justify-content-end btn btn-primary rounded-pill" (click)="saveForm()">Save Changes</button>
        </div>
    </form>
</div>


